.map-container {
    height: 100%;
}

.map-position-bar {
    background-color: rgba(35, 55, 75, 0.9);
    border-radius: 4px;
    color: #fff;
    font-family: monospace;
    left: 0;
    margin: 12px;
    padding: 6px 12px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.map-reset-button {
    border-radius: 10px;
    cursor: pointer;
    left: 12px;
    padding: 4px 10px;
    position: absolute;
    top: 50px;
    z-index: 1;
}