---
const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en-us">
    <head>
        <title>{title}</title>
        <meta charset="utf-8" />
        <meta content="Kevin Huang" name="author" />
        <meta content="ie=edge" http-equiv="x-ua-compatible" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content={Astro.generator} name="generator" />
        <meta content={description} name="description" />
    </head>

    <body>
        <slot />
    </body>
</html>

<style>
    body {
        height: 100%;
        margin: 0;
    }

    html {
        height: 100%;
        width: 100%;
    }
</style>
